
<div class="jumbotron">
  <div class="container">
    <h1>gCamp</h1>
    <p>Your life, organized.</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR0yRXVH9SWD4yVJnTlT7XFnCSSYrVMzA7FZmEHbO3BYpQ46JjgexQHULo">
      <h2>Tasks</h2>
      <p>Grouped by projects and lists.  Just the way you like'em.</p>
    </div>
    <div class="col-md-4">
      <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR0yRXVH9SWD4yVJnTlT7XFnCSSYrVMzA7FZmEHbO3BYpQ46JjgexQHULo">
      <h2>Documents</h2>
      <p>Upload. Comment. Revise. </p>
   </div>
    <div class="col-md-4">
      <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR0yRXVH9SWD4yVJnTlT7XFnCSSYrVMzA7FZmEHbO3BYpQ46JjgexQHULo">
      <h2>Comments</h2>
      <p>Comment on tasks and documents.  Get email notifications.</p>
    </div>
  </div>

  <div>
    <% @array.each do |i| %>
      <ul>
        <%= i %>
      </ul>
    <% end %>
  </div>

  <hr>

  <footer>
    <div><%= link_to "About", about_path %> | <%= link_to "Terms", terms_path %> | <%= link_to "FAQ", faq_path %></div>
    <p>&copy; Company 2014</p>
  </footer>
</div> <!-- /container -->
