@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 100px;
}


img {
  size: 20px;
  margin-bottom: 3rem;
}

.page-header {
  font-size: 36pt;
  border-bottom: solid black;
}

.panel-heading {
  a {
  color: white;
  }
}
