@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 100px;
}


.navbar-inverse .navbar-brand {
    font-size: 36px;
    color: white;
}

.col-md-4 {
  height: 250px;
}

.task-header {
  font-size: 24pt;
  display: block;
  border-bottom: solid;
}

a {
  float: right;
  font-size: 18pt;
  display: inline-block;
}

ul {
  font-size: 14pt;
}
